* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body { 
    background-color: skyblue;
    background-size: cover;
    text-align: center;
    background-position: center; 
    margin: 15;
    padding: 0;
}

.all-of-them {
    background-color: white;
    flex-direction:column;
    margin: auto;
    width:100cap;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 31px;
}
ul {
    display: flex;
}
 
.menu-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10;
    border-bottom: 4px solid skyblue;
}

li {
    margin: 5;
    font-style: arial;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

li :hover {
    border-radius: 7px;
    padding: 5px;
    background-color: lightseagreen;
    text-decoration: underline 1px solid;
    transition: 1ms ease-in-out;
    margin: 1;
}

a {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.font {
    color: black;
    font-size: 20px;
}

.a-footer {
    color: rgb(0, 0, 168);
    font-family: 'Courier New', Courier;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    text-decoration: underline;
}

.footer {
    font-family: 'Courier New', Courier;
    background-color: white;
    border-top: 4px solid skyblue;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 9px;
}

.footer :hover {
    background-color: skyblue;
    text-decoration: underline 1px solid blue;
    border-radius: 5px;
}

.img {
    margin-bottom: 10;
    margin-right: 27cap;
    margin-left: 5cap;
    padding: 10;
    display: flex;
    float: left;
    justify-content: left;
    align-items: center; 
}

.h2 {
    font-family: 'Aptos';
    font-size: 35px;
    width: 288;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -13cap;
    margin-right: 2cap;
}

.h3 {
    font-family: 'Aptos';
    font-size: 35px;
    width: 400;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -11cap;
    margin-right: auto;
}



